<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library), 
	and a few more JavaScript files that you should check out.
-->

<html>

<head>

	<title>Dishcuss</title>
	<!-- push code to heroku -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>

	<header class="banner">

		<h1 class="bannertext">
			<a href="http://tutorialzine.com/2014/03/nodejs-private-webchat/" id="logo">Dish<span>cuss</span>: Chat</a>
		</h1>

	</header>


	<section class="section">
		<div class="col-sm-8 col-sm-offset-2">

			<form class="form-horizontal">
			  <div class="form-group">
			    <label class="control-label col-sm-3" for="pun_name">Pundit Name:</label>
			    <div class="col-sm-9"> 
			      <input type="text" class="form-control" id="pun_name" placeholder="Enter pundit name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-3" for="room">Pundit Room:</label>
			    <div class="col-sm-9"> 
			      <input type="text" class="form-control" id="room" placeholder="Enter pundit room">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-3" for="email">Email:</label>
			    <div class="col-sm-9">
			      <input type="email" class="form-control" id="email" placeholder="Enter email">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-3" for="pwd">Password:</label>
			    <div class="col-sm-9"> 
			      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-3" for="pwd">Confirm Password:</label>
			    <div class="col-sm-9"> 
			      <input type="password" class="form-control" id="c_pwd" placeholder="Enter password">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-3" for="pwd">Welcome Message:</label>
			    <div class="col-sm-9"> 
			      <input type="text" class="form-control" id="w_msg" placeholder="Enter welcome message">
			    </div>
			  </div>			  
			  <div class="form-group"> 
			    <div class="col-sm-offset-3 col-sm-9">
			      <button type="button" id="subi" class="btn btn-default" >Submit</button>
			    </div>
			  </div>
			</form>
		</div>
	</section>
	
	<script type="text/javascript">
		function senddata(){
		  /*var xhttp = new XMLHttpRequest();
		  xhttp.onreadystatechange = function() {
		    if (xhttp.readyState == 4 && xhttp.status == 200) {
		      console.log('Success');
		    }
		  };
		  xhttp.open("POST", "/pundit/save", true);
		  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		  xhttp.send("fname=Henry&lname=Ford");*/

		  $.ajax({url: "/pundit/save", method: "POST" , data: {"fname": "Ali"} , success: function(result){
            console.log(result);
          }});

		}

		$(document).ready(function(){
		    $("#subi").click(function(){
		    	var nam = $('#pun_name').val();
		    	var room = $('#room').val();
		    	var email = $('#email').val();
		    	var passw = $('#pwd').val();
		    	var c_passw = $('#c_pwd').val();
		    	var messag = $('#w_msg').val();
		    	if(passw == c_passw && passw.length > 5){
		    		$.ajax({url: "/pundit/save", method: "POST" , data: {"name": nam , "room": room , "email": email , "password": passw , "message": messag} , success: function(result){
			            console.log("Success");
			          }});
		    	}else{
		    		if(passw.length < 5){
		    			console.log("Password too short");
		    		}else{
		    			console.log("Password not match");
		    		}
		    	}
		        
		    });
		});
	</script>

</body>

</html>